.products {
    padding: 30px 50px;
    display: flex;
}
  
    .left {
      flex: 1;
      position: sticky;
      height: 100%;
      top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
      .filteritem{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    
      }

      .filteritem span{
        background-color: white;
        color: black;

      }

      .filteredoption{
        display: flex;
      }
      .filteritem span{
        position: relative;
        /*  من من عندي */
      }

     
        h2{
          font-weight: 400;
          margin-bottom: 20px;
        }
  
        .inputitem{
          margin-bottom: 10px;
        }

          label{
            margin-left: 10px;
          }
          
    
    .right {
      flex: 3;
      gap: 20px;
    }
      .catimg{
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 50px;
        position: relative;
       }
    